nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  background-color: orange;
  border: 2px solid rgb(189, 188, 188);
  border-radius: 20px;
}

ul a {
  text-decoration: none;
  color: white;
  padding: 0.7rem;
  display: inline-block;
  transition: 200ms all ease-in-out;
  border-radius: 10px;
}

ul a:hover {
  background-color: antiquewhite;
  color: #333;
}

footer {
  background-color: rgba(222, 184, 135, 0.712);
  padding: 2px;
  text-align: center;
  border-radius: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  color: red;
}

footer a {
  width: 300px;
  background-color: red;
  display: inline-block;
}

.redColor {
  color: red;
}

.desc {
  margin-left: 20px;
}

h1 {
  margin: auto;

  font-size: 50px;

  height: max-content;
  width: max-content;

  max-width: 800px;
  max-height: 600px;

  padding: auto;

  vertical-align: middle;

  text-align: center;
  border: 5px dashed #333;
}
